#autos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las tarjetas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    margin-top: 100px; /* Ajusta según el tamaño de tu barra de navegación */
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: calc(25% - 20px); /* Calcula el ancho para mostrar 4 tarjetas por fila */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px; /* Espacio entre las filas de tarjetas */
    box-sizing: border-box; /* Asegura que el padding y el border no afecten el ancho total */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 12px;
}

.card h3 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

.card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 8px;
}

.card .btn {
    display: block;
    width: 100%;
    margin-top: 12px;
}

.card .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.card .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.card .btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.card .btn-success:hover {
    background-color: #218838;
    border-color: #218838;
}
